<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" th:replace="~{/admin/layout/layout::dynamic(~{::title},~{::main})}">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <!-- Thay thế title tại đây -->
   <title>Quản lý danh mục con| DTNsBike</title>

</head>

<body>
   <!-- Content  -->
   <main>
      <style>
         .erros_mess {
            color: red;
         }
      </style>
      <div class="container-fluid">
         <!-- Title -->
         <div class="row column_title">
            <div class="col-md-12">
               <div class="page_title">
                  <h2>Cập nhật danh mục con</h2>
               </div>
            </div>
         </div>
         <!-- Content -->
         <div class="row">
            <div class="col-12 card pt-2 pb-2 border-0">
               <div class="card-body p-2 text-end">
                  <!-- Button effect -->
                  <a href="cate-list.html" class="btn btn-primary btn-rounded text-white mb-1">
                     <i class="fa fa-list"></i>
                     <strong class="mt-1 ms-1">List danh mục con</strong>
                  </a>
                  <a href="category-list.html" class="btn btn-danger btn-rounded text-white mb-1">
                     <i class="fa fa-list"></i>
                     <strong class="mt-1 ms-1">List danh mục lớn</strong>
                  </a>
                  <!-- Button effect -->

               </div>
            </div>
         </div>
         <!-- Thân -->
         <div class="row mt-2">
            <div class="col-12 card">
               <div class="card-body row">
                  <form class=" col-12 row p-3" th:object="${cateModel}" th:method="POST">
                     <div class="col-12">
                        <!-- Form item input -->
                        <div class="col-12 mb-0">
                           <label for="exampleInputEmail1" class="form-label h6"><span class="text-danger">*</span> Tên
                              danh mục con: </label>
                           <input th:field="*{name}" type="text" class="form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" placeholder="Nhập tên danh mục...">
                           <span class="erros_mess" th:if="${session.errorCate!=null}"
                              th:text="${session.errorCate.hasFieldErrors('name')?session.errorCate.getFieldError('name').getDefaultMessage():''}"></span>
                        </div>
                        <!-- Form item input -->
                        <!-- Form item input -->
                        <div class="col-12 mb-0">
                           <label for="cate1" class="form-label h6"><span class="text-danger">*</span> Danh mục lớn:
                           </label>
                           <select class="custom-select" th:field="*{typeId}">
                              <option th:value="null" th:if="${editCateId==null}" th:attr="selected=${cateModel==null?'selected':''}">--- Chọn danh mục sản phẩm ---</option>
                              <option th:each="cate: ${cate}" th:value="${cate.id}" th:text="${cate.name}" th:attr="selected=${cateModel.typeId==cate.id?'selected':''}"></option>
                           </select>
                           <span class="erros_mess" th:if="${session.errorCate!=null && cateModel.typeId == null}"
                           th:text="${session.errorCate.hasFieldErrors('typeId')?session.errorCate.getFieldError('typeId').getDefaultMessage():''}"></span>
                        </div>
                        <!-- Form item input -->
                        <!-- Form item input -->
                        <div class="col-12 mb-2">
                           <label for="mota" class="form-label h6"><span class="text-danger">*</span>Mô tả (Nếu có):
                           </label>
                           <textarea style="height: 200px;" class="form-control" id="mota" th:field="*{description}"
                              placeholder="Nhập mô tả ...."></textarea>

                        </div>
                     </div>

                     <div class="col-12 text-right">
                        <button th:if="${editCateId!=null}" class="btn btn-primary"
                           th:formaction="@{/admin/cate-update/update}">
                           <i class="fa fa-save"></i>
                           Cập Nhật
                        </button>

                        <button th:unless="${editCateId!=null}" class="btn btn-success"
                           th:formaction="@{/admin/cate-update/add}">
                           <i class="fa fa-save"></i>
                           Thêm mới
                        </button>
                        <button class="btn btn-danger" th:formaction="@{/admin/cate-update/reset}">
                           <i class="fa fa-refresh"></i>
                           Làm Mới
                        </button>
                        <script th:inline="javascript">
                           // Check add
                           var check2 = /*[[${ session.checks2 }]]*/'';
                           if (check2 == true) {
                              Swal.fire(
                                 'Thông báo !',
                                 'Đã thêm danh mục thành công!',
                                 'success'
                              )
                           }
                           // Check update
                           var check = /*[[${ session.checks }]]*/'';
                           var name = /*[[${ session.cateModel != null ? session.cateModel.name : '' }]]*/'';
                           if (check == true) {
                              Swal.fire(
                                 'Thông báo !',
                                 'Cập nhật danh mục <b class="text-primary"><u>' + name + '</u></b> thành công!',
                                 'success'
                              )
                           }
                        </script>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <!-- thân end -->
      </div>
   </main>
   <!-- Content  -->
</body>

</html>