<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" th:replace="~{/admin/layout/layout::dynamic(~{::title},~{::main})}">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <!-- Thay thế title tại đây -->
   <title>Quản lý mã giảm giá | DTNsBike</title>

</head>

<body>
   <!-- Content  -->
   <main>
      <style>
         .erros_mess {
            color: red;
         }
      </style>
      <div class="container-fluid">
         <!-- Title -->
         <div class="row column_title">
            <div class="col-md-12">
               <div class="page_title">
                  <h2>Cập nhật mã giảm giá</h2>
               </div>
            </div>
         </div>
         <!-- Content -->
         <div class="row">
            <div class="col-12 card pt-2 pb-2 border-0">
               <div class="card-body p-2 text-end">
                  <!-- Button effect -->
                  <a href="voucher-list.html" class="btn btn-primary btn-rounded text-white mb-1">
                     <i class="fa fa-list"></i>
                     <strong class="mt-1 ms-1">Danh sách mã giảm giá</strong>
                  </a>
                  <!-- Button effect -->

               </div>
            </div>
         </div>
         <!-- Thân -->
         <div class="row mt-2">
            <div class="col-12 card">
               <div class="card-body row">
                  <form class=" col-12 row p-3" th:object="${voucherModel}" th:method="POST">
                     <div class="col-12 row">
                        <!-- Form item input -->
                        <div class="col-6 mb-0" th:hidden="${editVoucherId!=null}">
                           <label for="exampleInputEmail1" class="form-label h6"><span class="text-danger">*</span> Mã
                              giảm giá: </label>
                           <input th:field="*{id}" type="text" class="form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" placeholder="Nhập mã giảm giá...">
                           <span class="erros_mess"
                              th:if="${session.errorVoucher!=null && session.voucher_mess == null}"
                              th:text="${session.errorVoucher.hasFieldErrors('id')?session.errorVoucher.getFieldError('id').getDefaultMessage():''}"></span>
                              
                           <span class="erros_mess" 
                              th:if="${session.voucher_mess!=null}"
                              th:text="${session.voucher_mess}"></span>   
                              
                        </div>
                        <!-- Form item input -->
                        <!-- Form item input -->
                        <div class="col-6 mb-0">
                           <label for="exampleInputEmail1" class="form-label h6"><span class="text-danger">*</span> Giảm
                              giá: </label>
                           <input th:field="*{value}" type="number" min="0" max="99" class="form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" placeholder="Nhập giá trị giảm giá...">
                           <span class="erros_mess"
                              th:if="${session.errorVoucher!=null }"
                              th:text="${session.errorVoucher.hasFieldErrors('value')?session.errorVoucher.getFieldError('value').getDefaultMessage():''}"></span>
                              
                           <span class="erros_mess"
                           th:if="${session.value_erros!=null}" 
                           th:text="${session.value_erros}"></span>
                        </div>
                        <!-- Form item input -->
                        <!-- Form item input -->
                        <div class="col-6 mb-0">
                           <label for="exampleInputEmail1" class="form-label h6"><span class="text-danger">*</span>Ngày
                              bắt đầu: </label>
                           <input th:field="*{startdate}" type="date" class="form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" placeholder="Nhập ngày bắt đầu...">
                           <span class="erros_mess"
                              th:if="${session.errorVoucher!=null && session.voucherdate_erros==null }" 
                              th:text="${session.errorVoucher.hasFieldErrors('startdate')?session.errorVoucher.getFieldError('startdate').getDefaultMessage():''}"></span>

                           <span class="erros_mess" 
                              th:if="${session.voucherdate_erros!=null}"
                              th:text="${session.voucherdate_erros}"></span>
                           <!-- && session.voucher_mess == null -->
                        </div>
                        <!-- Form item input -->
                        <!-- Form item input -->
                        <div class="col-6 mb-0">
                           <label for="exampleInputEmail1" class="form-label h6"><span class="text-danger">*</span>Ngày
                              kết thúc: </label>
                           <input th:field="*{enddate}" type="date" class="form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" placeholder="Nhập ngày kết thúc...">
                           <span class="erros_mess"
                              th:if="${session.errorVoucher!=null }"
                              th:text="${session.errorVoucher.hasFieldErrors('enddate')?session.errorVoucher.getFieldError('enddate').getDefaultMessage():''}"></span>
                              
                        </div>
                        <!-- Form item input -->
                        <!-- Form item input -->
                        <div class="col-6 mb-0">
                           <label for="exampleInputEmail1" class="form-label h6"><span class="text-danger">*</span>Số
                              lượng: </label>
                           <input th:field="*{amount}" min="0" max="99" type="number" class="form-control"
                              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập số lượng...">
                           <span class="erros_mess"
                              th:if="${session.errorVoucher!=null }"
                              th:text="${session.errorVoucher.hasFieldErrors('amount')?session.errorVoucher.getFieldError('amount').getDefaultMessage():''}"></span>

                           <span class="erros_mess"
                              th:if="${session.amount_erros!=null}" 
                              th:text="${session.amount_erros}"></span>
                        </div>
                        <!-- Form item input -->
                        <div class="col-6 mb-0">
                           <label for="exampleInputEmail1" class="form-label h6"><span class="text-danger">*</span>Trạng
                              thái: </label>
                           <div class="mt-2">
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" id="active1" type="radio" th:field="*{active}"
                                    value="1">
                                 <label class="form-check-label h6" for="active1">Có hiệu lực</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" id="active2" type="radio" th:field="*{active}"
                                    value="0">
                                 <label class="form-check-label h6" for="active2">Hết hiệu lực</label>
                              </div>
                           </div>
                           <span class="erros_mess" th:if="${session.errorVoucher!=null}"
                              th:text="${session.errorVoucher.hasFieldErrors('active')?session.errorVoucher.getFieldError('active').getDefaultMessage():''}"></span>
                        </div>
                        <!-- Form item input -->
                        <div class="col-12 mb-2">
                           <label for="mota" class="form-label h6"><span class="text-danger">*</span>Mô tả (Nếu có):
                           </label>
                           <textarea style="height: 200px;" class="form-control" id="mota" th:field="*{description}"
                              placeholder="Nhập mô tả ...."></textarea>
                           
                        </div>
                     </div>

                     <div class="col-12 text-right">
                        <button th:if="${editVoucherId!=null}" class="btn btn-primary"
                           th:formaction="@{/admin/voucher-update/update}">
                           <i class="fa fa-save"></i>
                           Cập Nhật
                        </button>

                        <button th:unless="${editVoucherId!=null}" class="btn btn-success"
                           th:formaction="@{/admin/voucher-update/add}">
                           <i class="fa fa-save"></i>
                           Thêm mới
                        </button>
                        <button class="btn btn-danger" th:formaction="@{/admin/voucher-update/reset}">
                           <i class="fa fa-refresh"></i>
                           Làm Mới
                        </button>
                        <script th:inline="javascript">
                           // Check add
                           var check2 = /*[[${ session.checks2 }]]*/'';
                           if (check2 == true) {
                              Swal.fire(
                                 'Thông báo !',
                                 'Thêm mã giảm giá thành công!',
                                 'success'
                              )
                           }
                           // Check update
                           var check = /*[[${ session.checks }]]*/'';
                           var name = /*[[${ session.voucherModel != null ? session.voucherModel.id : '' }]]*/'';
                           if (check == true) {
                              Swal.fire(
                                 'Thông báo !',
                                 'Cập nhật mã giảm giá <b>' + name + '</b> thành công!',
                                 'success'
                              )
                           }
                        </script>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <!-- thân end -->
      </div>
   </main>
   <!-- Content  -->
</body>

</html>