/*------------------------------------------------------------------
    File Name: custom.css
-------------------------------------------------------------------*/
.show {
	display: block !important;
}

.hiden {
	display: none !important;
}

.hasErrors {
	color: red;
}

.avt {
	object-fit: cover;
	width: 18px;
	height: 18px;
}

#style-16::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-16::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#style-16::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top, #e4f5fc 0%, #d4fad3 50%, #aff1a9 51%,
		#28a745 100%);
}
.img-wraps {
    position: relative;
    display: inline-block;
    
    font-size: 0;
}
.img-wraps .closes {
    position: absolute;
    top: -10%;
    right: 9%;
    background-color: #FFF;
    padding: 5% 4%;
     
    color: #000;
    font-weight: bold;
    cursor: pointer;
    
    text-align: center;
    font-size: 15px;
    line-height: 7.5px;
    border-radius: 50%;
    border:1px solid red;
}
.img-wraps:hover .closes {
    opacity: 1;
}
/** ADD YOUR AWESOME CODES HERE **/